@using CAFEMENUPROJECT.DATA.Entity
@model User
@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Admin">Home</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">


                <div class="card card-primary">
                    <form>
                        <div class="card-body">

                            <div class="form-group">
                                <label for="Name">Name</label>
                                <input type="text" class="form-control" id="NameUpdate" placeholder="Enter Name" value="@Model.Name" readonly="">
                            </div>
                            <div class="form-group">
                                <label for="Surname">Surname</label>
                                <input type="text" class="form-control" id="SurnameUpdate" placeholder="Surname" value="@Model.Surname" readonly="">
                            </div>

                            <div class="form-group">
                                <label for="Username">Username</label>
                                <input type="text" class="form-control" id="UsernameUpdate" placeholder="Username" value="@Model.Username" readonly="">
                            </div>

                        </div>
                        <!-- /.card-body -->

                    </form>
                </div>

            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        $("#users").addClass("active")
    </script>
}